html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scrollbar-color: 'rgba(7, 7, 7, 0.766) rgba(58, 58, 58, 0.31)';
  scrollbar-width: 40;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}